/
  \%h1 Editing profile
  
  \= render 'form'
  
  \= link_to 'Show', @profile
  \\|
  \= link_to 'Back', profiles_path
%h3 Editing Profile
= render 'form', profile: @profile
%div{:align => "center"}= button_to '    Show    ', @profile, style: "background: green", method: :get
%br/
%div{:align => "center"}= button_to '    Back    ', profiles_path, style: "background: gold", method: :get
