<!-- %h1 New profile

= render 'form'

= link_to 'Back', profiles_path -->


<h3>New Profile</h3>


<%= csrf_meta_tags %>

<%= render 'form', profile: @profile %>
<br><br><br>
<div align='center', color="red"><%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></h3></div>
