
%body
  = csrf_meta_tags
  %h1 User Profiles
  %script{:src => "funciones.js", :type => "text/javascript"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  .row
    .col-sm-3
      .sidebar-nav
        .navbar.navbar-default{:role => "navigation"}
          .navbar-header
            %button.navbar-toggle{"data-target" => ".sidebar-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %span.visible-xs.navbar-brand Sidebar menu
          .navbar-collapse.collapse.sidebar-navbar-collapse
            %ul.nav.navbar-nav
              %li
                = link_to 'bullying                      1', wellcome_index_path(:key => '0')
              %li
                %a{:href => "#" } Bullying               2
              %li
                %a{:href => "#"} Bullying               3
              %li
                %a{:href => "#"} Bullying               4
              %li
                %a{:href => "#"} Bullying  -----------> 5
              %li
                %a{:href => "#"} Bullying               6
              %li
                %a{:href => "#"} Bullying               7
              %li
                %a{:href => "#"} Bullying               7
              %li
                %a{:href => "#"} Bullying  -----------> 8
              %li
                %a{:href => "#"} Bullying               9
              %li
                %a{:href => "#"} Bullying               10
              %li
                %a{:href => "#"} Bullying               11
              %li
                %a{:href => "#"} Bullying  -----------> 12
              %li
                %a{:href => "#"} Bullying               13
              %li
                %a{:href => "#"} Bullying               14
              %li
                %a{:href => "#"} Bullying               15

            / /.nav-collapse

    .col-sm-9
      -# %h2
      -#   -  puts @variable
      -#   -  puts "pase mas trabajo"
      -#   - puts  @profiles[@variable.to_i].bullyp
      %h1
        = @profiles[@variable.to_i].bullyp
      - @profiles.order(:id).each do |profile|
        .imagen2
          .imagen1
            %button{:class => "botonimagen"}
          .imagen3
            %h3
              = profile.name
              .rotate
